branches/stable-2.0/www/ximsroot/schemata/axpointpresentation.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
# Copyright (c) 2002-2011 The XIMS Project.
# See the file "LICENSE" for information and conditions for use, reproduction,
# and distribution of this work, and for a DISCLAIMER OF ALL WARRANTIES.
# $Id$
-->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="slideshow">
            <interleave>
                <ref name="title"/>
                <optional>
                    <element name="subtitle">
                        <text/>
                    </element>
                </optional>
                <element name="metadata">
                    <element name="speaker">
                        <text/>
                    </element>
                    <element name="email">
                        <text/>
                    </element>
                    <optional>
                        <element name="organisation">
                            <text/>
                        </element>
                    </optional>
                    <optional>
                        <element name="link">
                            <data type="anyURI"/>
                        </element>
                    </optional>
                    <optional>
                        <element name="background">
                            <text/>
                        </element>
                    </optional>
                    <optional>
                        <element name="logo">
                            <optional>
                                <attribute name="scale">
                                    <data type="anyURI"/>
                                </attribute>
                            </optional>
                        </element>
                    </optional>
                </element>
                <oneOrMore>
                    <choice>
                        <ref name="slide"/>
                        <ref name="slideset"/>
                    </choice>
                </oneOrMore>
            </interleave>
        </element>
    </start>
    <define name="title">
        <element name="title">
            <optional>
                <attribute name="href">
                    <data type="anyURI"/>
                </attribute>
            </optional>
            <text/>
        </element>
    </define>
    <define name="slideset">
        <element name="slideset">
            <ref name="title"/>
            <interleave>
                <zeroOrMore>
                    <ref name="slide"/>
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="slideset"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>
    <define name="slide">
        <element name="slide">
            <ref name="transition"/>
            <ref name="title"/>
            <ref name="slidecontent"/>
        </element>
    </define>
    <define name="slidecontent">
        <interleave>
            <zeroOrMore>
                <element name="text">
                    <attribute name="style">
                        <text/>
                    </attribute>
                    <attribute name="x">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="y">
                        <data type="integer"/>
                    </attribute>
                    <text/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="line">
                    <attribute name="style">
                        <text/>
                    </attribute>
                    <attribute name="x1">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="y1">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="x2">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="y2">
                        <data type="integer"/>
                    </attribute>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="ellipse">
                    <attribute name="style">
                        <text/>
                    </attribute>
                    <attribute name="cx">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="cy">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="rx">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="ry">
                        <data type="integer"/>
                    </attribute>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="circle">
                    <attribute name="style">
                        <text/>
                    </attribute>
                    <attribute name="cx">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="cy">
                        <data type="integer"/>
                    </attribute>
                    <attribute name="r">
                        <data type="integer"/>
                    </attribute>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="point">
                    <optional>
                        <attribute name="href">
                            <data type="anyURI"/>
                        </attribute>
                    </optional>
                    <optional>
                        <attribute name="level">
                            <data type="integer"/>
                        </attribute>
                    </optional>
                    <ref name="transition"/>
                    <interleave>
                        <text/>
                        <optional>
                            <element name="color">
                                <choice>
                                    <attribute name="name">
                                        <text/>
                                    </attribute>
                                    <attribute name="rgb">
                                        <text/>
                                    </attribute>
                                </choice>
                                <text/>
                            </element>
                        </optional>
                        <optional>
                            <element name="colour">
                                <choice>
                                    <attribute name="name">
                                        <text/>
                                    </attribute>
                                    <attribute name="rgb">
                                        <text/>
                                    </attribute>
                                </choice>
                                <text/>
                            </element>
                        </optional>
                        <optional>
                            <element name="b">
                                <text/>
                            </element>
                        </optional>
                        <optional>
                            <element name="i">
                                <text/>
                            </element>
                        </optional>
                        <optional>
                            <ref name="table"/>
                        </optional>
                    </interleave>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="source-code">
                    <text/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="source_code">
                    <text/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="image">
                    <optional>
                        <attribute name="scale">
                            <text/>
                        </attribute>
                    </optional>
                    <choice>
                        <attribute xmlns:xlink="http://www.w3.org/1999/xlink" name="xlink:href"/>
                        <text/>
                    </choice>
                </element>
            </zeroOrMore>
        </interleave>
    </define>
    <define name="table">
        <oneOrMore>
            <element name="row">
                <oneOrMore>
                    <element name="col">
                        <optional>
                            <attribute name="width">
                                <text/>
                            </attribute>
                        </optional>
                        <ref name="slidecontent"/>
                    </element>
                </oneOrMore>
            </element>
        </oneOrMore>
    </define>
    <define name="transition">
        <optional>
            <attribute name="transition">
                <choice>
                    <value>replace</value>
                    <value>split</value>
                    <value>blinds</value>
                    <value>box</value>
                    <value>wipe</value>
                    <value>dissolve</value>
                    <value>glitter</value>
                </choice>
            </attribute>
        </optional>
    </define>
</grammar>
