documentation/schemata/generic_request.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <!--
        The following included files are Copyright (c) 2001-2003 Thai Open Source Software Center Ltd.
        Please read the file xhtmlmodules/README !
    -->
    <include href="xhtmlmodules/datatypes.rng"/>
    <include href="xhtmlmodules/attribs.rng"/>
    <include href="xhtmlmodules/text.rng"/>
    <include href="xhtmlmodules/hypertext.rng"/>
    <include href="xhtmlmodules/list.rng"/>
    <include href="xhtmlmodules/image.rng"/>
    <include href="xhtmlmodules/ssismap.rng"/>
    <include href="xhtmlmodules/param.rng"/>
    <include href="xhtmlmodules/object.rng"/>
    <include href="xhtmlmodules/bdo.rng"/>
    <include href="xhtmlmodules/pres.rng"/>
    <include href="xhtmlmodules/edit.rng"/>
    <include href="xhtmlmodules/applet.rng"/>
    <include href="xhtmlmodules/form.rng"/>
    <include href="xhtmlmodules/table.rng"/>
    <include href="xhtmlmodules/csismap.rng"/>
    <include href="xhtmlmodules/events.rng"/>
    <include href="xhtmlmodules/inlstyle.rng"/>
    <include href="xhtmlmodules/target.rng"/>
    <include href="xhtmlmodules/iframe.rng"/>
    <include href="xhtmlmodules/nameident.rng"/>
    <include href="xhtmlmodules/legacy.rng"/>

    <define name="body">
        <element name="body">
            <ref name="body.attlist"/>
            <ref name="Block.model"/>
        </element>
    </define>

    <define name="body.attlist">
        <ref name="Common.attrib"/>
    </define>

    <define name="content.object">
        <element name="object">
            <attribute name="parent_id">
                <ref name="uid"/>
            </attribute>
            <attribute name="document_id">
                <data type="integer"/>
            </attribute>
            <attribute name="id">
                <data datatypeLibrary="http://relaxng.org/ns/compatibility/datatypes/1.0"
                    type="ID"/>
            </attribute>
            <interleave>
                <optional>
                    <element name="parents">
                        <oneOrMore>
                            <ref name="content.object"/>
                        </oneOrMore>
                    </element>
                </optional>
                <optional>
                    <element name="children">
                        <oneOrMore>
                            <ref name="content.object"/>
                        </oneOrMore>
                    </element>
                </optional>
                <optional><!-- moving and object browsing stuff -->
                    <element name="targetchildren">
                        <oneOrMore>
                            <ref name="content.object"/>
                        </oneOrMore>
                    </element>
                </optional>
                <optional>
                    <element name="targetparents">
                        <oneOrMore>
                            <ref name="content.object"/>
                        </oneOrMore>
                    </element>
                </optional>
                <optional>
                    <element name="target">
                        <ref name="content.object"/>
                    </element>
                </optional>
                <optional>
                    <element name="location_path">
                        <text/>
                    </element>
                </optional>
                <optional>
                    <ref name="body"/>
                </optional>
                <ref name="attributes"/>
                <element name="abstract">
                    <ref name="Block.model"/>
                </element>
                <optional>
                    <element name="content_length">
                        <text/>
                    </element>
                </optional>
                <element name="created_by_firstname">
                    <text/>
                </element>
                <element name="created_by_id">
                    <data type="integer"/>
                </element>
                <element name="created_by_lastname">
                    <text/>
                </element>
                <element name="created_by_middlename">
                    <text/>
                </element>
                <element name="creation_timestamp">
                    <ref name="dmyhms"/>
                </element>
                <element name="css_id">
                    <text/>
                </element>
                <element name="data_format_id">
                    <data type="integer"/>
                </element>
                <element name="data_format_name">
                    <text/>
                </element>
                <element name="department_id">
                    <text/>
                </element>
                <element name="image_id">
                    <text/>
                </element>
                <element name="keywords">
                    <text/>
                </element>
                <element name="language_id">
                    <data type="integer"/>
                </element>
                <element name="last_modification_timestamp">
                   <ref name="dmyhms"/>
                </element>
                <element name="last_modified_by_firstname">
                    <text/>
                </element>
                <element name="last_modified_by_id">
                    <data type="integer"/>
                </element>
                <element name="last_modified_by_lastname">
                    <text/>
                </element>
                <element name="last_modified_by_middlename">
                    <text/>
                </element>
                <element name="last_publication_timestamp">
                    <choice>
                        <empty/>
                        <ref name="dmyhms"/>
                    </choice>
                </element>
                <element name="last_published_by_firstname">
                    <text/>
                </element>
                <element name="last_published_by_id">
                    <ref name="uid"/>
                </element>
                <element name="last_published_by_lastname">
                    <text/>
                </element>
                <element name="last_published_by_middlename">
                    <text/>
                </element>
                <element name="location">
                    <text/>
                </element>
                <element name="locked_by_firstname">
                    <text/>
                </element>
                <element name="locked_by_lastname">
                    <text/>
                </element>
                <element name="locked_by_middlename">
                    <text/>
                </element>
                <element name="locked_time">
                    <choice>
                        <empty/>
                        <ref name="dmyhms"/>
                     </choice>
                </element>
                <element name="marked_deleted">
                    <text/>
                </element>
                <element name="marked_new">
                    <text/>
                </element>
                <element name="notes">
                    <text/>
                </element>
                <element name="object_type_id">
                    <data type="integer"/>
                </element>
                <element name="owned_by_firstname">
                    <text/>
                </element>
                <element name="owned_by_id">
                    <data type="integer"/>
                </element>
                <element name="owned_by_lastname">
                    <text/>
                </element>
                <element name="owned_by_middlename">
                    <text/>
                </element>
                <element name="published">
                    <text/>
                </element>
                <element name="script_id">
                    <text/>
                </element>
                <element name="status">
                    <text/>
                </element>
                <element name="style_id">
                    <text/>
                </element>
                <element name="symname_to_doc_id">
                    <text/>
                </element>
                <element name="title">
                    <text/>
                </element>
                <element name="position">
                    <data type="integer"/>
                </element>
                <element name="locked_by_id">
                    <ref name="uid"/>
                </element>
                <element name="schema_id">
                    <text/>
                </element>
                <element name="document_status">
                    <text/>
                </element>
                <optional>
                    <element name="user_privileges">
                        <ref name="user_privileges"/>
                    </element>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="uid">
        <choice>
            <empty/>
            <data type="integer"/>
        </choice>
    </define>

    <define name="attributes">
        <element name="attributes">
            <choice>
                <text/>
                <ref name="anyelement"/>
            </choice>
        </element>
    </define>

    <define name="anyelement">
        <zeroOrMore>
            <element>
                <anyName/>
                <text/>
            </element>
        </zeroOrMore>
    </define>

    <define name="day">
        <element name="day">
            <data type="integer"/>
        </element>
    </define>

    <define name="month">
        <element name="month">
            <data type="integer"/>
        </element>
    </define>
    <define name="year">
        <element name="year">
            <data type="integer"/>
        </element>
    </define>
    <define name="hour">
        <element name="hour">
            <data type="integer"/>
        </element>
    </define>
    <define name="minute">
        <element name="minute">
            <data type="integer"/>
        </element>
    </define>
    <define name="second">
        <element name="second">
            <data type="integer"/>
        </element>
    </define>

    <define name="dmyhms">
        <ref name="day"/>
        <ref name="month"/>
        <ref name="year"/>
        <ref name="hour"/>
        <ref name="minute"/>
        <ref name="second"/>
    </define>

    <define name="name">
        <element name="name">
            <text/>
        </element>
    </define>

    <define name="data_format">
        <element name="data_format">
            <attribute name="id">
                <data datatypeLibrary="http://relaxng.org/ns/compatibility/datatypes/1.0"
                    type="ID"/>
            </attribute>
            <element name="suffix">
                <text/>
            </element>
            <ref name="name"/>
            <element name="mime_type">
                <text/>
            </element>
        </element>
    </define>

    <define name="object_type">
        <element name="object_type">
            <attribute name="id">
                <data datatypeLibrary="http://relaxng.org/ns/compatibility/datatypes/1.0"
                    type="ID"/>
            </attribute>
            <interleave>
                <optional>
                    <element name="can_create">
                        <text/>
                    </element>
                </optional>
                <ref name="name"/>
                <element name="is_fs_container">
                    <data type="integer"/>
                </element>
                <element name="is_objectroot">
                    <data type="integer"/>
                </element>
                <element name="is_xims_data">
                    <text/>
                </element>
                <element name="parent_id">
                    <optional><data type="integer"/></optional>
                </element>
                <element name="publish_gopublic">
                    <data type="integer"/>
                </element>
                <element name="redir_to_self">
                    <data type="integer"/>
                </element>
            </interleave>
        </element>
    </define>

    <define name="user_privileges">
        <interleave>
            <element name="delete">
                <data type="integer"/>
            </element>
            <element name="view">
                <data type="integer"/>
            </element>
            <element name="create">
                <data type="integer"/>
            </element>
            <element name="publish_all">
                <data type="integer"/>
            </element>
            <element name="write">
                <data type="integer"/>
            </element>
            <element name="attributes_all">
                <data type="integer"/>
            </element>
            <element name="publish">
                <data type="integer"/>
            </element>
            <element name="attributes">
                <!-- hmm, optional should not be there --><optional><data type="integer"/></optional>
            </element>
            <element name="master">
                <data type="integer"/>
            </element>
            <element name="delete_all">
                <data type="integer"/>
            </element>
            <element name="translate">
                <data type="integer"/>
            </element>
            <element name="grant">
                <data type="integer"/>
            </element>
            <element name="grant_all">
                <data type="integer"/>
            </element>
            <element name="owner">
                <data type="integer"/>
            </element>
            <element name="link">
                <data type="integer"/>
            </element>
            <element name="copy">
                <data type="integer"/>
            </element>
            <element name="move">
                <data type="integer"/>
            </element>
        </interleave>
    </define>

    <define name="user">
        <element name="user">
            <attribute name="id">
                <data datatypeLibrary="http://relaxng.org/ns/compatibility/datatypes/1.0"
                    type="ID"/>
            </attribute>
            <interleave>
                <optional>
                    <ref name="bookmarks"/>
                </optional>
                <element name="lastname">
                    <text/>
                </element>
                <ref name="name"/>
                <element name="object_type">
                    <data type="integer"/>
                </element>
                <element name="url">
                    <data type="anyURI"/>
                </element>
                <element name="firstname">
                    <text/>
                </element>
                <element name="middlename">
                    <text/>
                </element>
                <element name="admin">
                    <data type="integer"/>
                </element>
                <element name="enabled">
                    <data type="integer"/>
                </element>
                <element name="system_privs_mask">
                    <text/>
                </element>
                <element name="dav_otprivs_mask">
                    <text/>
                </element>
                <element name="email">
                    <text/>
                </element>
                <optional>
                    <element name="object_privileges">
                        <ref name="user_privileges"/>
                    </element>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="bookmark">
        <element name="bookmark">
            <interleave>
                <element name="content_id">
                     <text/>
                </element>
                <element name="owner_id">
                     <text/>
                </element>
                <element name="id">
                    <data type="integer"/>
                </element>
                <element name="stdhome">
                     <ref name="uid"/>
                </element>
            </interleave>
        </element>
    </define>

    <define name="bookmarks">
       <element name="bookmarks">
             <oneOrMore>
                <ref name="bookmark"/>
              </oneOrMore>
        </element>
    </define>

    <define name="session">
        <element name="session">
            <attribute name="id">
                <data datatypeLibrary="http://relaxng.org/ns/compatibility/datatypes/1.0"
                    type="ID"/>
            </attribute>
            <interleave>
                <element name="warning_msg">
                    <text/>
                </element>
                <element name="serverurl">
                    <data type="anyURI"/>
                </element>
                <ref name="attributes"/>
                <element name="uilanguage">
                    <text/>
                </element>
                <element name="date">
                    <ref name="dmyhms"/>
                </element>
                <element name="searchresultcount">
                    <text/>
                </element>
                <element name="user_id">
                    <data type="integer"/>
                </element>
                <element name="message">
                    <text/>
                </element>
                <element name="host">
                    <text/>
                </element>
                <element name="session_id">
                    <text/>
                </element>
                <ref name="user"/>
                <element name="last_access_timestamp">
                    <ref name="dmyhms"/>
                </element>
                <element name="skin">
                    <text/>
                </element>
                <element name="error_msg">
                    <text/>
                </element>
                <element name="verbose_msg">
                    <text/>
                </element>
            </interleave>
        </element>
    </define>

    <define name="objectlist">
        <element name="objectlist">
            <oneOrMore>
                <ref name="content.object"/>
            </oneOrMore>
        </element>
    </define>

    <define name="userlist">
        <element name="userlist">
            <oneOrMore>
                <ref name="user"/>
            </oneOrMore>
        </element>
    </define>

    <start>
        <element name="document">
            <interleave>
                <element name="context">
                    <interleave>
                        <optional><!-- present during all content interface events -->
                            <ref name="content.object"/>
                        </optional>
                        <optional><!-- present during acl management for example -->
                            <ref name="user"/>
                        </optional>
                        <ref name="session"/>
                    </interleave>
                </element>
                <optional><!-- present during all content interface events -->
                    <element name="data_formats">
                        <oneOrMore>
                            <ref name="data_format"/>
                        </oneOrMore>
                    </element>
                    <element name="object_types">
                        <oneOrMore>
                            <ref name="object_type"/>
                        </oneOrMore>
                    </element>
                </optional>
                <optional><!-- present at content object search results for example -->
                    <ref name="objectlist"/>
                </optional>
                <optional>
                    <element name="userobjectlist"><!-- present at interface user -->
                        <ref name="objectlist"/>
                     </element>
                </optional>
                <optional>
                    <ref name="userlist"/><!-- present at interface users -->
                </optional>
            </interleave>
        </element>
    </start>

</grammar>
